.idea
DungeonCrawler.Client/bin
DungeonCrawler.Client/obj

DungeonCrawler.Core/bin
DungeonCrawler.Core/obj

DungeonCrawler.Server/bin
DungeonCrawler.Server/obj

DungeonCrawler.Editor/bin
DungeonCrawler.Editor/obj
DungeonCrawler.Editor/imgui.ini